include README.md
include LICENSE
include pyproject.toml
include Makefile

recursive-include benchmarks *.py *.sh *.slurm *.md *.txt *.yml *.yaml
recursive-include toolkit *.py *.yml *.yaml
recursive-include setup *.py *.sh *.slurm *.txt *.yml *.yaml
global-exclude __pycache__
global-exclude *.py[cod]
